body {
  text-align: center;
}

h1 {
  margin: 0 auto;
  font-size: 5rem;
}

h3 {
  border: 1px solid black;
  border-radius: 10px;
  width: 20%;
  margin: 0 auto;
}

.logo {
  margin: 2%;
  width: 10%;
  height: 10%;
}

.nav-placing {
  margin-right: 0;
}


.url-form {
  width: 70%;
  margin: 0 15%;
  margin-top: 1%;
}

.link-label {
  margin-right: 2%;
}

#full-link {
  border-radius: 10px;
}

.btn-short {
  background-color: #7f45de;
  color: white;
  border-color: #7f45de;
}

.links-table {
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.table {
  width: 70%;
}